<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

   <!-- 配置数据源 -->
   <bean id="ds" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mydb"/>
		<property name="username" value="root" />
		<property name="password" value="root" />
   </bean>
   
   <!-- 配置session工厂 -->
   <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 加载mybatis的主配置文件 -->
		<property name="configLocation" value="classpath:SqlMapConfig.xml"/>
		<!-- 注入数据源 -->
		<property name="dataSource" ref="ds" />
   </bean>
   
   <!-- 配置service -->
   <context:component-scan base-package="com.neuedu.model.service"></context:component-scan>
   <!-- 配置mapper -->
   <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定扫描的包名
		如果扫描多个包，每个包中间使用半角逗号分隔
		-->
		<property name="basePackage" value="com.neuedu.model.mapper"/>
		<!-- 自动创建session（connection）去数据库交互 -->
		<property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
   </bean>
   
   <!-- 事务处理 -->
   <!-- 配置service不需要实现接口 -->
   <aop:aspectj-autoproxy proxy-target-class="true"/>
   
   <!-- 声明事务管理器 -->
   <bean id="txm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  <property name="dataSource" ref="ds"></property>
   </bean>
   <!-- 设置事务的传播特性 -->
   <tx:advice id="txAdvice" transaction-manager="txm">
		<tx:attributes>
		<tx:method name="save*" propagation="REQUIRED"/>
		<tx:method name="update*" propagation="REQUIRED"/>
		<tx:method name="delete*" propagation="REQUIRED"/>
		<tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
   </tx:advice>
   <!-- 设置advisor,切入点 -->
   <aop:config>
	  <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.neuedu.model.service.*.*(..))"/>
   </aop:config>
   
</beans>