body
{
	margin:0px	
}

button
{
	font-size:16px;
}

p
{
	text-align: center;
}

#div4
{
	position:fixed;
	width:100%;
	left:0px;
	bottom: 0px;
	background: white;
}

#div4flex
{
	height:100px;
	display: flex;
}

#div4flex>div
{
	flex:1;  
}

#div4flex i
{
	font-size: 40px;
}